@charset "utf-8";
*{margin: 0; padding: 0;}
html, body{
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	height: 100%;
	margin: 0px;
}
#content{
	width:100%;
	height:85%
}
#content:after{
	content:"";
	display: block;
	clear: both;
}

#map-canvas{
	float: left;
	height: 100%;
	width:70%;
	//margin: 0px;
}
#sidebox{
	float: left;
	height: 100%;
	width: 28%;
	padding: 0 1%;
	overflow:auto;
}
#feedinfo{margin-top: 10px}

.site h1{color: #ffffff;
	text-decoration: none}
.site h1{margin: 0;
	font-size: 30px}

.menu{font-weight:bold}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li a{
	display: block;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.menu li a:hover{background-color: #0080ff}
.menu ul:after{
	content: "";
	display: block;
	clear: both;
}
.menu li{
	float: left;
	width: auto
}

h2{text-align: center}
.infowin h3{text-align: center}
p{font-size: 14px}
label, input{font-size: 16px}
input{
	margin: 5px 0;
	//padding: 0px;
}
table{
	font-size: 16px;
	background: #999;
}
th{
	white-space: nowrap;
	padding: 2px;
	background: #ddd;
}
td{
	padding: 4px 2px;
	background: #fff;
}
.stimetable{width: 100%}
.stimetable th, td{text-align: center;}
.pstinfo, .stop_info{margin: 10px 0}
.txt-labels{
	font-size: 12px;
	font-weight: bold;
}


.footer{padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee}

/* ボックスの左右 */
.header, .info, .footer, .content{
	padding-left: 15px;
	padding-right:15px}

/* ボックスの上下 */
.header{padding-top: 5px;
	padding-bottom: 3px;
	background: #003096;}


/* ########### 600px未満 ########### */
@media (max-width: 599px) {
.menu li a{padding: 10px 7px;
	font-size: 11px}
/*
#map-canvas{
	height: 800px;
	width:100%;
}*/

}

/* ########### 768px以上 ########### */
@media (min-width: 768px) {

/* headsiteとheadnavを横に並べる設定 */
.header:after{content: "";
	display: block;
	clear: both}

.headsite{float: left;
	width: auto}

.headnav{float: right;
	width: auto}

.content:after{content: "";
			display: block;
			clear: both}

.pickup .overview{float: left;
			width: 32%;
			margin-right: 1%}

/*
#map-canvas{
	float: left;
	height: 100%;
	width:70%;
	//margin: 0px;
}
#sidebox{
	float: left;
	height: 100%;
	width: 28%;
	padding: 0 1%;
	overflow:auto;
}*/

}

/* ########### 1040px以上 ########### */
@media (min-width: 1040px) {

/* 全体の横幅を固定 
.header-inner, .footer-inner, .pickup, .content
	{width: 1000px;
	margin-left: auto;
	margin-right: auto}*/
}
